<div ng-init='checkAdmin()' ng-controller='adminController'>
  <div ng-show='admin'>
<h2>Add Item</h2>
<div class="form-group">
<form>
      <label for="category"> Category:
        <select ng-model="category" class="form-control" ng-options="e as e.type for e in enum track by e.type" name="category"></select
      </label>
      <label for="name"> Name:
        <input ng-model="name" id="name" class="form-control" type="text"></select>
      </label>
      <label for="ingredients"> Ingredients:
        <input ng-model="ingredients" class="form-control" id="ingredients" type="text">
      </label>
      <label for="sauce"> Sauces:
        <input ng-model="sauces" class="form-control" id="sauce" type="text">
      </label>
      <label for="allergies"> Allergies:
        <input ng-model="allergies" class="form-control" id="allergies" type="text">
      </label>
      <label for="accomidations"> Accomidations:
        <input ng-model="accomidations" class="form-control" id="accomidations" type="text">
      </label>
      <br>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button ng-click="addNewItem()" type="button" class="btn btn-primary">Add new</button>
        <button ng-click="searchIn()" type="button" class="btn btn-info">Search item by name</button>
        <button ng-click="showAll()" type="button" class="btn btn-success">Show all</button>
      </div>
    </form>
    </div>
  </div>
  <h4 ng-show="search">Search Results:</h4>
  <div ng-repeat="searchResult in items">
    <div>
      Category: {{searchResult.category}}
    </div>
    <div>
      Name: {{searchResult.name}}
    </div>
    <div>
      Ingredients: {{searchResult.ingredients}}
    </div>
    <div>
      Sauces: {{searchResult.sauces}}
    </div>
    <div>
      Allergies: {{searchResult.allergies}}
    </div>
    <div>
      Accomidations: {{searchResult.accomidation}}
    </div>
    <button ng-click="deleteItem()" class="btn btn-danger">Delete from menu</button>
  </div>
  <div ng-show="addedItem">
  <h4>New Item Added:</h4>
    <div>
      Category: {{newestAdd.category}}
    </div>
    <div>
      Name: {{newestAdd.name}}
    </div>
    <div>
      Ingredients: {{newestAdd.ingredients}}
    </div>
    <div>
      Sauces: {{newestAdd.sauces}}
    </div>
    <div>
      Allergies: {{newestAdd.allergies}}
    </div>
    <div>
      Accommodations: {{newestAdd.accomidation}}
    </div>
  </div>
</div>
