<div ng-init='checkAdmin()' ng-controller='adminController'>
  <div ng-show='admin'>
<h2>Add Item</h2>
<div class="form-group">
<form>
      <label for="category"> Category:
        <select ng-model="category" class="form-control" ng-options="e as e.type for e in enum track by e.type" name="category"></select
      </label>
      <label for="name"> Name:
        <input ng-model="name" id="name" class="form-control" type="text"></select>
      </label>
      <label for="ingredients"> Ingredients:
        <input ng-model="ingredients" class="form-control" id="ingredients" type="text">
      </label>
      <label for="sauce"> Sauces:
        <input ng-model="sauces" class="form-control" id="sauce" type="text">
      </label>
      <label for="allergies"> Allergies:
        <input ng-model="allergies" class="form-control" id="allergies" type="text">
      </label>
      <label for="accomidations"> Accomidations:
        <input ng-model="accomidations" class="form-control" id="accomidations" type="text">
      </label>
      <br><input ng-click="addNewItem()" type="button" value="Add new" class="btn btn-default" id="addnew">
    </form>
  </div>
</div>
</div>
