<div ng-init='checkAdmin()' ng-controller='quizController'>
  <div ng-show='admin'>
    <h4>Quiz Creator</h4>
    <label for="quizName"> Quiz Title:
      <input ng-model="quizName" class="form-control" type="text"></select>
    </label>
    <button ng-click="addMultiQ()" type="button" class="btn btn-primary">Add multiple choice</button>
    <button ng-click="addShortA()" type="button" class="btn btn-primary">Add short answer</button>
    <div ng-repeat="multi in questionM">
        <input type="text" placeholder="enter question..." ng-model="question"><br>
        <input type="text" placeholder="answer option 1" ng-model="answer">
        <input type="checkbox" name="check" value="inline" ng-model="correctAnswer1"> Correct<br>
        <input type="text" placeholder="answer option 2" ng-model="answer">
        <input type="checkbox" name="check" value="inline" ng-model="correctAnswer2"> Correct<br>
        <input type="text" placeholder="answer option 3" ng-model="answer">
        <input type="checkbox" name="check" value="inline" ng-model="correctAnswer3"> Correct<br>
        <input type="text" placeholder="answer option 4" ng-model="answer">
        <input type="checkbox" name="check" value="inline" ng-model="correctAnswer4"> Correct<br>
      </div>
      <div ng-repeat="shortA in questionA">
        <input type="text" placeholder="enter question..." ng-model="question">
        <input type="text" placeholder="answer..." ng-model="correctAnswer">
  </div>
  <button class="btn btn-primary" ng-click="addQuiz()">Add Quiz</button>
</div>
